OPENROUTER_API_KEY= <YOUR_OPEN_ROUTER_API_KEY_HERE>

MODEL=openrouter/openai/gpt-4o-mini # Configure your model here
BASE_URL=https://openrouter.ai/api/v1

TEMPERATURE=0.2
MAX_TOKENS=8000

#Optional
CREWAI_TRACING_ENABLED=false
